// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all";
@import "~@redhat-cloud-services/frontend-components/index.css";
@import '~@redhat-cloud-services/frontend-components-notifications/index.css';

.info__contact {
    display: none;
}

.auth-wrapper {
    display: none !important;
}

.ins-c-api__list-item {
    cursor: pointer;
}

.ins-c-docs__api {
    .ins-c-docs__api-overview-toolbar {
        width: 100%;
    }
    .pf-c-table tbody td:nth-child(2) {
        cursor: pointer;
        color: var(--pf-global--link--Color);
    }
}
.ins-c-docs__api-detail .ins-c-docs__api-detail-info {
    min-width: 100px;
    a {
        vertical-align: text-top;
    }
}
